    *,
    *::before,
    *::after {
        margin: 0%;
        padding: 0%;
    }
    
    html {
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        max-width: 650px;
    }
    
    .btn-info::active {
        color:red;
    }